//DarkTheme

$bg: #1c1e27;
$bg-img: url("./src/assets/bg.png");
$bg-secondary: linear-gradient(225deg, #072776, #1b57b1);
$bg-tertiary: #040e2a;
$bg-quadra: #1a347d;
$primary-color: #1b57b1;
$secondary-color: #072776;
$box-shadow-color: #1f2634;
$text-primary: #f5f5f5;
$text-secondary: #f5f5f5;
$card: #fcfbf4;
$button: #1b57b1;
$white: #ffffff;
$black: #000000;

//LightTheme

$bg-light: #f5f5f5;
$bg-img-light: url("./src/assets/bg-light.png");
$bg-secondary-light: linear-gradient(225deg, #426613, #7f965d);
$bg-tertiary-light: #fcfbf4;
$bg-quadra-light: #426613;
$primary-color-light: #426613;
$secondary-color-light: #7f965d;
$box-shadow-color-light: #7f965d;
$text-primary-light: #3d3c3c;
$text-secondary-light: #fcfbf4;
$card-light: #fcfbf4;
$button-light: #426613;
$white-light: #ffffff;
$black-light: #000000;
