//DarkTheme

$bg: #1c1e27;
$bg-img: url("./src/assets/bg.png");
$bg-secondary: linear-gradient(45deg, #1b57b1, #072776);
$bg-tertiary: #040e2a;
$bg-quadra: #1a347d;
$primary-color: #1b57b1;
$secondary-color: #072776;
$text-primary: #f5f5dc;
$text-secondary: #b1b2b3;
$card: #171721;
$card_light: #191924;
$button: #1b57b1;
$white: #ffffff;
$black: #000000;
