@import "./variables";

.container {
  display: flex;
  background: $bg-tertiary-light;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-items: center;
  height: 100vh;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    gap: 12px;

    @media (max-width: 960px) {
      flex-direction: column;
      height: 140vh;
    }

    .title {
      font-size: 42px;
      text-align: center;
      font-weight: 600;
      color: $text-primary-light;

      @media (max-width: 768px) {
        margin-top: 12px;
        font-size: 5vh;
        line-height: 7vh;
      }
    }

    .desc {
      font-size: 18px;
      text-align: center;
      max-width: 600px;
      margin-bottom: 2rem;
      color: $text-primary-light;

      @media (max-width: 768px) {
        font-size: 3vh;
      }
    }

    .skills-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      gap: 30px;
      justify-content: center;

      .skill {
        width: 100%;
        max-width: 500px;
        background: $bg-secondary-light;
        border: 0.1px solid $bg-light;
        box-shadow: -5px 10px 20px $box-shadow-color-light,
          -5px 10px 20px $primary-color-light;
        border-radius: 16px;
        padding: 18px 36px;

        @media (max-width: 768px) {
          max-width: 400px;
          padding: 10px 36px;
        }
        @media (max-width: 500px) {
          max-width: 330px;
          padding: 10px 36px;
        }

        .skill-title {
          font-size: 28px;
          font-weight: 600;
          color: $text-secondary-light;
          margin-bottom: 2rem;
          text-align: center;
        }

        .skill-list {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 12px;
          margin-bottom: 20px;

          .skill-item {
            font-size: 16px;
            font-weight: 400;
            color: $text-secondary-light;
            border: 1px solid $card-light;
            border-radius: 12px;
            padding: 12px 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            @media (max-width: 768px) {
              font-size: 14px;
              padding: 8px 12px;
            }
            @media (max-width: 500px) {
              font-size: 14px;
              padding: 6px 12px;
            }

            .skill-image {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      @media (max-width: 768px) {
        padding-bottom: 5vh;
        margin: 0;
      }
    }
  }

  &.dark-theme {
    background: $bg-tertiary;
    .title {
      color: $text-primary;
    }
    .desc {
      color: $text-primary;
    }
    .skills-container {
      .skill {
        background: $bg-secondary;
        border: 0.1px solid $bg;
        box-shadow: -5px 10px 20px $box-shadow-color,
          -5px 10px 20px $box-shadow-color;
      }
    }
    .skill-title {
      color: $text-secondary;
    }
  }
  @media (max-width: 780px) {
    height: 140vh;
  }
}
